@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #ff9e53;
}

.slider {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}
